<!DOCTYPE html>
<html ng-app="ec2016App">
<head>
<meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>AngularJS EC2016</title>
<link rel="stylesheet"
	href="http://localhost:8080/pizzapizza.nsf/css/bootstrap.min.css">
<script src="http://localhost:8080/pizzapizza.nsf/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			 <h1>Pizza, Pizza!</h1>
		</div>
		
		<div class="row">
			<input type="text" ng-model="search">
			<p>Du suchst gerade nach: {{search}}</p>
		</div>
		
		<div class="row">
			<form ng-controller="PizzaCtrl">
				<table class="table" >
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Preis</th>
						</tr>
					</thead>
					<tr ng-repeat="pizza in pizzas | filter:search">
						<td>{{pizza.id}}</td>
						<td>{{pizza.name}}</td>
						<td>{{pizza.price}}</td>
					</tr>
				</table>
			</form>
		</div>

		<div class="row">
			<button class="btn btn-primary btn-lg" onclick="app.exit()">Exit</button>
			<button class="btn btn-default btn-lg" onclick="app.callBack()">CallBack</button>
			<button class="btn btn-info btn-lg" onclick="alert('Hello World!')">Alert</button>
		</div>
	</div>

	<script>
	  	function foo(){
	  		var elem = document.createElement("b");
	  		elem.innerHTML = "bar";
	  		var body = document.getElementsByTagName("body");
	  		body[0].appendChild( elem );
	  	}
  	</script>
  		
	<!-- laden von AngularJS app //-->
	<script src="angular.js"></script>
	<script src="app.js"></script>
	
</body>
</html>